.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.boton, .boton-borrar {
  align-self: center;
  margin-bottom: 0.5rem;
  width: 190px;
}

.boton-borrar {
  width: 390px
}

.boton-container {
  display: flex;
  gap: 1rem;
}