 .inicio {
     /* display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 0.6fr 1fr 1fr;
     grid-template-areas: "musica card complex" "receta musica complex" "receta musica complex"; */
     gap: 2rem;
     padding: 2rem;
     display: flex;
     /* align-items: center; */
     justify-content: center;
     color: rgba(255, 255, 255, 0.842);
 }

 .column {
     display: flex;
     flex-direction: column;
     gap: 2rem;
 }

 .inicio-container {
     display: flex;
     justify-content: space-around;
     flex-direction: column;
     height: 300px;
     width: 370px
 }

 .ladoDerecho, .ladoIzquierdo {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .salir, .descargas, .reproducciones, .miperfil {
     border-style: solid;
     border-color: salmon;
     font-family: "Lobster";
     display: flex;
     margin: 2em;
     flex-direction: column;
 }

 .title {
     font-size: calc(10px + 2vmin);
     display: flex;
     justify-content: center;
     background-color: blanchedalmond;
     font-family: "Lobster";
     font-size: 2rem;
 }

 .categorias {
     display: flex;
     gap: 0.3rem;
 }