.Button-container{ 
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.contenedor-principal {
font-family: "Lobster";
background-color: blanchedalmond;
border-color: salmon;
}